header {
	padding: 1rem;
}

.logo-title__container img {
	width: 15.8rem;
	height: 5.4rem;
}

.well-table {
	width: 50%;
}

.well-table p {
	width: 40rem;
}

.table-container {
	width: 40rem;
}

#add_well_btn {
	width: 40rem;
}

.table-and-info {
	display: flex;
	margin: 3rem auto 0;
	width: 120rem;
}

.well-info {
	width: 50%;
	margin-top: 9rem;
}

.info-container {
	width: 55rem;
	padding: 2rem;
}

#info_paragraph {
	width: 51rem;
}

.info-container h2 {
	text-align: center;
}

.buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.update-well-button__container {
	padding-right: 1rem;
}

.delete-well-button__container {
	padding-left: 1rem;
}

#add_well_modal, #update_well_modal {
	width: 40rem;
	padding: 3rem;
}

#delete_modal_container, #well_modal_container {
	height: 150rem;
}

#delete_well_modal {
	width: 50rem;
	padding: 1rem;
	height: 18rem;
	top: calc(50vh - 9rem);
	left: calc(50vw - 25rem);
}

#delete_confirmation__paragraph {
	margin-top: 1rem;
}