* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Bai Jamjuree', sans-serif;
}

:root {
	--small-font: 1.2rem;
	--medium-font: 1.6rem;
	--large-font: 1.8rem;
	--xlarge-font: 2.2rem;

	--background-shadow: rgba(32,35,41,.8);
	--background-black: #282828;
	--vivid-red: #cf2e2e;
	--palid-red: #FF214F;
	--background-article: #292e38;
	--light-gray: #B3B3B3;
	--red: red;
	--white: white;
	--input-color: rgb(221, 219, 219);
}

header {
	width: 100%;
	padding: 0.1rem;
	text-align: center;
	height: 10rem;
}

main {
	width: 100%;
	padding-bottom: 2rem;
	font-size: var(--medium-font);
}

.red-font {
	color: var(--red);
}

.modal-header {
	display: flex;
}

.modal-header p:nth-child(2) {
	flex-grow: 1;
}

.logo-title__container {
	display: flex;
	align-items: center;
	height: 100%;
}

.logo-title__container a {
	width: 50%;
	text-align: end;
	padding-right: 1rem;
	border-right: 0.2rem solid var(--light-gray);
}

.logo-title__container img {
	width: 14rem;
	height: 4.78rem;
}

.logo-title__container h1 {
	width: 50%;
	text-align: start;
	padding-left: 1rem;
}

.well-table p {
	margin: 2rem auto 0;
	width: 30rem;
}

.logo {
	width: 15.8rem;
	height: 5.4rem;
}

.table-container {
	margin: 3rem auto 0;
	width: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}

table {
	border-collapse: collapse;
}

thead {
	background-color: var(--vivid-red);
	color: var(--white);
}

table th, table td {
	border: 0.1rem solid black;
	padding: 0.5rem;
	text-align: center;
}

table button {
	width: 6rem;
}

tr {
	height: 3rem;
}

.well-info {
	width: 30rem;
	margin: 4rem auto 0;
}

.well-info b {
	color: var(--vivid-red);
}

.info-container {
	width: 30rem;
	min-height: 45rem;
	margin: 0 auto;
	border: 0.3rem solid var(--background-article);
	border-radius: 1rem;
	padding: 0.5rem;
}

.info-container p {
	margin-top: 2rem;
}

#info_paragraph {
	width: 30rem;
	line-height: 3rem;
}

.buttons-container {
	display: block;
}

.buttons-container button {
	margin: 0 auto;
}

.add-well-button__container, .update-well-button__container, .delete-well-button__container {
	text-align: center;
	margin-top: 4rem;
}

.send-new-well__container, .send-update-well__container, .send-delete-well__container {
	text-align: center;
	margin-top: 2rem;
}

#well_modal_container, #update_modal_container, #delete_modal_container {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 150rem;
	background-color: var(--background-shadow);
	padding: 2rem;
}

#delete_modal_container, #well_modal_container {
	height: 200rem;
}

#add_well_modal, #update_well_modal, #delete_well_modal {
	width: 28rem;
	margin: 0 auto;
	font-size: var(--medium-font);
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: var(--white);
}

#delete_well_modal {
	position: fixed;
	height: 30rem;
	top: calc(50vh - 12rem);
	left: calc(50vw - 14rem);
}

.x-container, .x-update-container, .x-delete-container {
	text-align: end;
}

.x-container svg, .x-update-container svg, .x-delete-container svg {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
}

#add_well_modal label, #update_well_modal label  {
	display: block;
	margin-top: 1rem;
}

#add_well_modal input, #update_well_modal input {
	width: 100%;
	height: 3rem;
	border-radius: 0.5rem;
	border: none;
	background-color: var(--input-color);
	padding: 0.5rem;
}

#add_well_btn, #send_new_well, #update_well_btn, #send_update_well, #send_delete_well {
	width: 20rem;
	height: 4rem;
	border-radius: 0.5rem;
	font-size: var(--medium-font);
	font-family: 'Bai Jamjuree', sans-serif;
	cursor: pointer;
	background-color: var(--vivid-red);
	color: var(--white);
	border: 0.1rem solid var(--red);
}

#add_well_btn {
	width: 30rem;
}

#update_well_btn, #delete_well_btn {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#add_well_btn:active, #send_new_well:active, #update_well_btn:active, #send_update_well:active, #delete_well_btn:active, #send_delete_well:active {
	background-color: var(--white);
	color: black;
	border: 0.3rem solid var(--vivid-red);
} 

#cancel_delete_well, #delete_well_btn {
	width: 20rem;
	height: 4rem;
	border-radius: 0.5rem;
	font-size: var(--medium-font);
	font-family: 'Bai Jamjuree', sans-serif;
	cursor: pointer;
	background-color: var(--white);
	color: black;
	border: 0.3rem solid var(--vivid-red);
}

#cancel_delete_well:active, #delete_well_btn:active {
	background-color: var(--vivid-red);
	color: var(--white);
	border: none;
}

#update_well_btn svg, #delete_well_btn svg {
	width: 1rem;
}

#send_delete_well, #cancel_delete_well {
	margin-top: 1rem;
}

.delete_password__container {
	text-align: center;
}

#delete_password {
	width: 20rem;
	height: 3rem;
	border-radius: 0.5rem;
	background-color: var(--input-color);
	border: none;
	margin-top: 1rem;
	padding: 0.5rem;
	font-size: var(--medium-font);
}

#add_success_container p, #update_success_container p, #delete_success_container p {
	position: fixed;
	width: 20rem;
	height: 8rem;
	top: calc(50vh - 4rem);
	left: calc(50vw - 10rem);
	background-image: radial-gradient(circle at 50% -20.71%, #db8e00 0, #e48000 10%, #ec6f00 20%, #f25b00 30%, #f64100 40%, #f81010 50%, #f90021 60%, #f80030 70%, #f6003e 80%, #f2004e 90%, #ec005f 100%);
	border-radius: 01rem;
	font-size: var(--medium-font);
	color: var(--white);
	display: flex;
	text-align: center;
	align-items: center;
	padding: 0.5rem;
}

#add_success_container, #update_success_container, #delete_success_container {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 150rem;
	background-color: var(--background-shadow);
}